
<section class="my-5 pt-5">
<div class="text-center mt-5 pt-4 divColor" >
  <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <div class=" me-3 divbgColor line" ></div>
    <i class="fa-solid fa-star"></i>
    <div class=" ms-3 divbgColor line" ></div>
  </div>
</div>
<form novalidate=""action=""class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched">
  <input id="userName"type="text"placeholder="userName"name="userName"class="form-control border-0 border-bottom py-3 my-3 position-relative ng-pristine ng-valid ng-touched"/><input
    id="userAge"
    type="text"
    placeholder="userAge"
    name="userName"
    class="form-control border-0 border-bottom py-3 my-3 position-relative ng-pristine ng-valid ng-touched"
  /><input
    id="userEmail"
    type="text"
    placeholder="userEmail"
    name="userName"
    class="form-control border-0 border-bottom py-3 my-3 position-relative ng-pristine ng-valid ng-touched"
  /><input
    id="userPassword"
    type="text"
    placeholder="userPassword"
    name="userName"
    class="form-control border-0 border-bottom py-3 my-3 position-relative ng-pristine ng-valid ng-touched"
  /><button class="btn mt-4 text-white" style="background-color: #1abc9c">
    send Message
  </button>
</form>
</section>
