.line {
    height: 4px;
    width: 75px;
    background-color: white;
}

section {
    background-color: #1abc9c;
}
.img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 250px;
}